@tailwind base;
@tailwind components;
@tailwind utilities;

.border_y {
  border-top: 1px solid #e2e8f0;
  border-bottom: 1px solid #e2e8f0;
}

.border_drawer {
  border-top: 1px solid #e2e8f0;
  border-left: 1px solid #e2e8f0;
  border-right: 1px solid #e2e8f0;
}

.border_bottom {
  border-bottom: 1px solid #e2e8f0;
}
